<!-- Social cards -->
<meta property="og:title" content="Laustrology">
<meta property="og:description" content="No-bullshit astrology">
<meta property="og:image" content="https://raw.githubusercontent.com/jilliangmeehan/laustrology/master/assets/images/favicon.ico">
<meta property="og:url" content="https://laustrology.com">
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Laustrology">
<meta name="twitter:description" content="No-bullshit astrology">
<meta name="twitter:image" content="https://raw.githubusercontent.com/jilliangmeehan/laustrology/master/assets/images/favicon.ico">
